.advantage-content{
    width: 70%;
    margin:0 auto;
}
.advantage{
    background: #dddddd;
    padding: 30px 0;
}
.advantage span{
    color: #1890ff;
}
.advantage .advantage-row i{
    font-size: 80px;
    color: white;
    border: 1px solid #1890ff;
    background: #1890ff;
    padding: 70px;
    transition: all 0.5s;
}
.advantage .advantage-row i:hover {

    background: #4267b2;
}
.advantage .advantage-row h4{
    margin-top: 20px;
}
.advantage .advantage-row span{
    color: #15009e;
}