.advantage-content{
    width: 70%;
    margin:0 auto;
}
.advantage{
    background: #dddddd;
    padding: 30px 0;
}
.advantage span{
    color: #15009e;
}
.advantage .advantage-row i{
    font-size: 80px;
    color: white;
    border: 1px solid #15009e;
    background: #15009e;
    padding: 70px;
}
.advantage .advantage-row h4{
    margin-top: 20px;
}
.advantage .advantage-row span{
    color: #15009e;
}