*{
    box-sizing: border-box;
}
/* NAVBAR */
.navbar{
    background-color: #000080;
}
/* END NAVBAR */

/* SIGN UP */
.containerform{
    width: 35%;
    margin: 0 auto;
    padding: 20px 30px;
}
.containerform form{
    background: white;
    padding: 20px;
    border-radius: 10px;
}
.signUpForm{
    background-image: url('/img/bgSignUp.jpg');
    background-size: cover;
    background-position: center;
}
.btnSignUp{
    background: linear-gradient(to right, 	#1E90FF, 	#123054);
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    transition: all .5s;
}
.btnSignUp:hover{
    background: linear-gradient(to right, 	#123054,	#1E90FF 	);
}

.form-group input:focus{
    outline: none;
    box-shadow: none;
    background: 	#E6E6FA;
}
.h1Signup{
    color: #1E90FF;
}
.errorMessage{
    font-size: 12px;
    color: red;
}
.input-group .input-group-text{
    background: #1E90FF ;
}
.input-group .input-group-text i {
    color: white;
}
/* END SIGN UP */

/* SIGN IN */
.signInForm{
    background-image: url('/img/bgSignUp.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
}
.signInForm .containerform{
    width: 35%;
    margin: 20px auto 0;
    padding: 20px 30px;
    background-color: white;
    border-radius: 10px;
}
.signInForm .containerform .userIcon{
    color: white;
    background-color: grey;
    width: 150px;
    height: 150px;
    line-height: 200px;
    border: 1px solid grey;
    border-radius: 50%;
    margin: 0 auto;
}
.signInForm .containerform .userIcon i{
    font-size: 100px;
    margin: 0 20%;

}
.signInTitle{
    color: #1E90FF;
}
.signInForm .containerform .userImg img{
    width: 30%;
    height: 30%;
    margin: 20px auto;
}
.signInForm .containerform .btnSignIn{
    background: linear-gradient(to right, 	#1E90FF, 	#123054);
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    transition: all .5s;
}
.signInForm .containerform .btnSignIn:hover{
    background: linear-gradient(to right, 	#123054,	#1E90FF 	);
}
/* END SIGN IN */