*{
    box-sizing: border-box;
}
/* NAVBAR */
.navbar{
    background-color: #000080;
}
/* END NAVBAR */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.carousel{
    margin-top: 60px;
}
.ant-form-explain{
    text-align: left;
}