.profile-page {
    min-height: 100vh;
    margin-top: 7vh;
  }
  
  /* USER DETAIL */
  .user-detail {
      display: flex;
      margin-bottom: 50px;
      padding-top: 20px;
      padding-bottom: 30px;
      margin: 0 auto;
      text-align: center;
      border: 2px solid #15009E;
      border-radius: 20px;
  }
  
  .user-detail-avatar {
      width: 10vw;
      height: 10vw;
      margin-left: 30px;
  }
  
  .user-summary {
      text-align: left;
      width: 100%;
      font-size: 20px;
  }
  .user-summary .summary-col{
      padding-left: 30px;
  }
  
  .user-summary .full-name {
      font-size: 33px;
      font-weight: 700;
      color: rgba(0,0,0,0.85);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 10px;
  }
  
  .user-summary .username {
      font-size: 20px;
  }
  
  .user-summary .email {
      margin-top: 10px;
  }
  .user-summary .phone{
    margin-top: 10px;
  }
  /* END USER DETAIL */

  /* SENSOR */
  .mySensor{
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mySensor .sensor-title{
      /* color: white; */
      text-align: center;
      background: linear-gradient(90deg, rgba(0,17,143,1) 0%, rgba(0,31,255,1) 40%, rgba(255,255,255,1) 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-radius: 20px;
      padding-left: 20px;
  }
  .mySensor .temper-sensor h3{
      color: white;
      background: linear-gradient(90deg, rgba(245,0,0,1) 0%, rgba(255,55,0,1) 30%, rgba(255,176,97,1) 40%);
      border-radius: 20px;
      padding-left: 20px;
  }
  /* .mySensor .temper-sensor .temper-chart{
      margin-bottom: 20px;
  } */
  .mySensor .humid-sensor h3{
      color: white;
      background: linear-gradient(90deg, rgba(0,165,245,1) 0%, rgba(0,254,255,1) 30%, rgba(210,255,252,1) 40%);
      border-radius: 20px;
      padding-left: 20px;
      margin-top: 20px;
  }
  .mySensor .people-sensor h3, .mySensor .light-sensor h3{
    color: white;
    background: linear-gradient(90deg, rgba(0,17,143,1) 0%, rgba(0,31,255,1) 30%, rgba(176,201,255,1) 40%);
    border-radius: 20px;
    padding-left: 20px;
  }
  .mySensor .vertical-timeline--two-columns .vertical-timeline-element-icon{
      width: 50px;
      height: 50px;
      left: 51%;
  }
  .mySensor .vertical-timeline--two-columns .vertical-timeline-element-content{
      width: 40%;
      padding: 5px;
  }
  .mySensor .vertical-timeline--two-columns .vertical-timeline-element-content p{
      margin: 10px;
  }
  .mySensor .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
      left: 146%;
      top: 0;
  }
  .mySensor .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
      right: 146%;
  }