.signin-container {
    text-align: center;
    background-image: url('/img/bgSignUp.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
}

.signin-icon {
    width: 150px;
    height: 150px;
    color: white;
    font-size: 10vh;
    border-radius: 50%;
    line-height: 10vh;
    background: #1100a8;
    margin-bottom: 25px;
}
.signin-icon svg{
    margin-top: 37px;
    font-size: 70px;
}
.signin-form {
    min-width: 30vw;
    background: white;
    padding: 3vh 2vw 3vh;
    border-radius: 30px;
}

.signin-form h1 {
    color: #1100a8;
    font-size: 40px;
  }

.signin-form-button {
    width: 100%;
}
